name: Create reminder

on:
  schedule:
    - cron: "0 0 1 6,12 *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  create-reminder:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_REPO: ${{ github.repository }}
    steps:
      - name: Check issue exists or not
        id: check_issue_exists
        run: |
          # if the issue exists, exit 0 and do nothing

          ISSUES=$(gh issue list --limit 1 --search "feat: Update resume" --state open --json url)
          if [ "$ISSUES" != "[]" ]; then
            echo "Issue already exists."
            exit 0
          fi
          echo "create_issue=true" >> "$GITHUB_OUTPUT"

      - if: ${{ steps.check_issue_exists.outputs.create_issue == 'true' }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Create issue
        if: ${{ steps.check_issue_exists.outputs.create_issue == 'true' }}
        run: |
          gh issue create -a 'Takashicc' -t 'feat: Update resume' -F ./.github/ISSUE_TEMPLATE/reminder.md -l enhancement
